{{extend "bootstrap_layout.html"}}
{{block title}}<title>关于大会 - {{=settings.LAYOUT.TITLE}}</title>{{end}}

{{block content}}
<h1>关于大会</h1>

<div class="row show-grid">
	<!--
    <div class="span5">
        <img class="pull-right" style="margin-right:20px;" src="{{=url_for_static('images/iOSConChina.png')}}" alt="iOSCon China 2012 Logo" /></div>
	-->
    <div class="span11">
		<p> 个性化推荐是根据用户的兴趣特点和购买行为，向用户推荐用户感兴趣的信息和商品、视频、网页等。 </p>
		<p> 迄今为止，只有少数几家公司可以为用户提供高满意的推荐——Amazon，Netflix（他们仍然在寻求对算法的改进），Google也算是一个。尽管只有这么少的成功故事，成百上千的其它网站和应用程序仍在努力探寻着推荐系统的魔法公式——以给他们的用户产生满意的推荐。 </p>
		<p> 但即便是让用户中等满意的推荐系统，即便是基于人肉和规则推荐相辅助的系统，也比完全没有推荐强得多。 </p>
		<p> 推荐系统是非常复杂的，涉及数据获取的问题，还有对数据的处理，对算法的选择，对参数的优化，产品和服务设计，反馈收集，效果测试和改进，是一个螺旋式上升的过程，它不仅仅是一个或几个推荐服务新的功能开发，而是需要长期维护和改进，需要专业的团队和持续的投入才能完成的工作。 </p>
		<p> 国内知名的互联网公司如豆瓣、土豆、淘宝、点评等都纷纷建立了个性化推荐系统，通过建立在海量数据挖掘基础上的一种高级商务智能平台，以提供完全个性化的决策支持和信息服务。 </p>
		<p>本次推荐系统大会汇集了国内的一些走在前列的推荐系统专家，通过探讨和学习推荐系统的难点和最佳实践，共同提高推荐的准确性，提高推荐的转化率。</p>

<h2>关于主办方</h2>
<div class="row show-grid">
        <div class="span11">
        <h4>顶尖极客沙龙(TopGeek)</h4>
        <p>是面向技术极客的组织，定期举办线下活动，讨论软件和互联网的一些新的技术潮流，开发理念和经验。
这个组织不以语言或行业划分圈子，打破技术分割，开拓大家思路，促进互相学习，实现资源共享。解决一些成熟技术人员进一步发展的共同问题，促进交流和发展。口号："一日为极客，终身为极客！"</p>
    </div><!--END span8-->
</div><!--END row-->

<div class="row show-grid">
        <div class="span11">
        <h4>杭州GTUG</h4>
        <p>是由来自杭州及周边地区的广大互联网开发爱好者、创业者、支持开源代码和自由软件，以及各种新技术的开发者和爱好者组成的非盈利性的技术交流组织。该组织的目标是促进技术交流与共享及可能的创业和商业机会。</p>
    </div><!--END span8-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span11">
        <h4>TopGeek组织的特点</h4>
        <ol>
            <li>线下活动为主，与会人员和主题不分程序开发语言、不分开源还是商业软件，不分终端是PC还是手机。提倡跨界交流。</li>
            <li>以高级技术人员为主，活动中鼓励频繁沟通，对问题的深入探究。</li>
            <li>在研究主流技术趋势、新机会的同时，也给予小众的技术流派足够关注。</li>
        </ol>
    </div><!--END span8-->
    <div class="span11">
        <h4>关于TopGeek</h4>
        <p><strong>组织博客：</strong><a target="_blank" href="http://topgeek.org">http://topgeek.org/</a></p>
        <p><strong>新浪微博：</strong><a target="_blank" href="http://weibo/topgeek">http://weibo/topgeek</a></p>
        <p><strong>组织者：</strong>陈世欣（2Style4You CTO），李锟（上海鹏图信息技术有限公司CTO），吕国宁（Intridea资深工程师），罗小能（2Style4You工程师），支晓勇（91Office技术总监）</p>
    </div><!--END span8-->
    <div class="span11">
        <h4>TopGeek社区组织的历次活动</h4>
        <ul>
            <li>TopGeek1，报道请看<a target="_blank" href="http://topgeek.org/?p=129">http://topgeek.org/?p=129</a></li>
            <li>TopGeek2，报道请看<a target="_blank" href="http://topgeek.org/?p=129">http://topgeek.org/?p=167</a></li>
            <li>TopGeek3，报道请看<a target="_blank" href="http://topgeek.org/?p=129">http://topgeek.org/?p=209</a></li>
            <li>TopGeek4，报道请看<a target="_blank" href="http://topgeek.org/?p=129">http://topgeek.org/?p=243</a></li>
            <li>TopGeek5，报道请看<a target="_blank" href="http://topgeek.org/?p=129">http://topgeek.org/?p=264</a></li>
        </ul>
    </div><!--END span8-->
</div><!--END row-->
{{end}}
