{{extend "bootstrap_layout.html"}}
{{block title}}<title>赞助商 - {{=settings.LAYOUT.TITLE}}</title>{{end}}
{{block meta}}
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/sponsors.css')}}" />
{{end}}

{{block content}}
<h1>赞助商</h1>

<h3>
成为2012年中国推荐系统大会（上海）赞助商是非常明智的选择：<br/>
1 大会完全由公益社区，志愿者义务主办，赞助费远远低于商业大会，但是覆盖的观众和影响力则相当。<br/>
2 大会不仅提供赞助相关宣传，还有赞助商代表参与嘉宾欢迎晚宴和免费门票。<br/>
3 作为公益社区的赞助者，在开发者和产品经理心目中的形象比商业大会更高大。因为难能，所以可贵。<br/>
</h3><br />

    <div class="row show-grid" style="border-top: 1px solid #EEEEEE;">
        <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.kic.net.cn/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=ioscon2012"><img src="{{=url_for_static('http://www.kic.net.cn/Portals/_default/Skins/KI/images/logo.jpg')}}" alt="kic" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        创智天地位于上海市五角场城市副中心，由上海市杨浦区人民政府联合瑞安房地产打造，整体投资规模将超过100亿元，总规划开发面积近100万平方米。周边环绕着复旦、同济、财大等14所知名高校和百余所科研院所，是杨浦知识创新区推进大学校区、公共社区、科技园区“三区融合，联动发展”的公共活动中心和创新服务中心，整合杨浦丰富的科教、人文、生态资源，大力发展知识密集型产业。
2004年以来，创智天地已建成产业办公及配套用房40万平方米，与美国湾区委员会、香港数码港管理有限公司、清华启迪等知名机构建立持续、深入的战略合作关系，EMC中国研发中心、甲骨文研发中心、易保软件等一批国内外有影响的大企业，以及南南全球技术产权交易所、上海大学生科技创业基金会、杨浦风险投资服务园等一批功能性机构纷纷进驻，一批具有自主知识产权的初创型企业蓬勃成长，初步呈现出大、中、小型企业互动发展的 “接力式” 产业发展环境。
2010年7月，创智天地与清华科技园启迪股份达成协议，借助启迪股份在创业企业孵化、高新企业研发、创新人才培育、科技成果转化等方面的丰富经验和资源优势，通过营造园区创新氛围、搭建园区孵化服务体系、建设产业公共服务平台和投融资服务平台，培育高成长的创新创业企业。
创智天地将巴黎左岸的创意文化与美国硅谷科技创新精神完美融合，代表着创新与企业家精神，成为知识工作者分享知识、沟通交流、洽谈合作、休闲放松的创业天堂，提出了“创业，创新，乐活——打造上海的智库”的口号，以创新创业为驱动力，聚集国内外的智慧资源，构建城市科学发展的智库，营造综合型知识社区带来的全方位乐活体验，成为上海新的知识高地和创新力之源，为城市的可持续发展提供不竭动力。

        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.google.com"><img src="{{=url_for_static('images/sponsors/google.png')}}" alt="Google" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
			Google 的使命是整合全球信息，使人人皆可访问并从中受益。
        </div>
    </div><!--END row-->
     
    <div class="row show-grid">
        <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.dianping.com"><img src="{{=url_for_static('images/sponsors/dianping.jpg')}}" alt="大众点评" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
		大众点评网创建于2003年4月，是中国领先的城市生活消费指南网站。其主要致力于为中国消费者提供本地的餐饮、休闲、娱乐等生活服务发表评论、分享信息的平台，并为广大潜在的消费者提供客观、准确的本地化消费信息指南。
        </div>
    </div><!--END row-->
   
    <div class="row show-grid">
        <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.ituring.com.cn/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=ioscon2012"><img src="{{=url_for_static('images/sponsors/turingbook.gif')}}" alt="图灵" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        人民邮电出版社图灵公司—— 站在巨人的肩上，努力打造最专业的IT图书出版（写作/翻译）服务平台，期待与您合作！
        </div>
    </div><!--END row-->

    <div class="row show-grid">
        <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.taobao.com"><img src="{{=url_for_static('images/sponsors/taobao.png')}}" alt="taobao" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
			淘宝网成立于2003年5月10日，由阿里巴巴集团投资创办。目前，淘宝网是亚洲第一大网络零售商圈，其目标是致力于创造全球首选网络零售商圈。<br/>
			淘宝商城整合数千家品牌商、生产商，为商家和消费者之间提供一站式解决方案。提供100%品质保证的商品，7天无理由退货的售后服务，以及购物积分返现等优质服务。 
        </div>
    </div><!--END row-->

<h1>媒体支持</h1>
    <div class="row show-grid">
        <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.infoq.com/cn?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=ioscon2012"><img src="{{=url_for_static('images/sponsors/infoq.gif')}}" alt="InfoQ" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        InfoQ.com（Information Queue）是一个时刻关注企业软件开发领域变化与创新的在线独立社区，读者受众群主要为技术架构师、技术团队带头人（高级开发人员）和项目经理等。通过由各个技术领域专家提供的最新的新闻、技术文章、视频访谈、视频演讲和迷你书等，InfoQ 为Java、.NET、Ruby、SOA、敏捷、架构和运维七大社区提供一流的资讯。InfoQ全球站正式启动于2006年6月8日，InfoQ中文站正式启动于2007年3月28日，以推动我们所服务的社区的进步为首要使命。
        </div>
    </div><!--END row-->

    <div class="row show-grid">
        <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.csdn.net/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=ioscon2012"><img src="{{=url_for_static('images/sponsors/csdn.gif')}}" alt="CSDN" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        CSDN创立于1999年，是中国最大的中文IT知识服务集团，专注IT信息传播、技术交流、教育培训和专业技术人才服务。拥有超过1800万注册会员、10000名CTO、50万注册企业及合作伙伴，全球中文网站排名第27位。长期以来，CSDN以技术视角关注IT产业发展，以深度分享推进产业技术成长，致力于弘扬技术创新，倡导分享、开放和协作，努力打造高质量的中文IT技术交流平台。
        </div>
    </div><!--END row-->

    <div class="row show-grid">
        <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.csdn.net/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=ioscon2012"><img src="{{=url_for_static('images/sponsors/TopGeek_logo.jpg')}}" alt="TopGeek" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
TopGeek组织是一个面向高级软件和互联网技术人员的组织，主要讨论软件和互联网的一些新的技术潮流，开发理念和经验。
在现在技术山头林立，以语言或行业划分圈子的社区组织状态下，我们坚持认为，按技术流派形成圈子的做法不能满足高级技术人员需要。
我们希望打破技术分割，帮助社区人员开拓思路，互相学习，资源共享。解决一些成熟技术人员进一步发展的共同问题，形成一些好的朋友圈子。
        </div>
    </div><!--END row-->

    <div class="row show-grid">
        <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://pmcamp.org/?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=ioscon2012"><img src="{{=url_for_static('http://blog.pmcamp.org/wp-content/uploads/2012/02/PMCamp_logo.jpg')}}" alt="pmcamp" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
PmCamp将为一群一直以来保持着：激情、坚持学习、懂得分享、懂得相互尊重的产品经理/总监、设计经理/总监、技术经理/总监、运营经理/总监，市场经理/总监服务。通过努力打造，让所有互联网的各类经理/总监们，拥有一个：真正属于自己的、可依赖、可信任、可持性的、品牌的组织。
        
        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.gtugs.org/chapter.jsp?id=10&utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=ioscon2012"><img src="{{=url_for_static('http://topgeek.org/wp-content/uploads/2012/02/BEIJINGgtug.png')}}" alt="beijing gtug" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        北京GTUG是由来自北京的软件开发人员自发组成的非盈利性质的技术交流组织，讨论开源技术和谷歌的技术、产品。并定期举办线下活动。
        </div>
    </div><!--END row-->
    
    <div class="row show-grid last">
        <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://www.gtugs.org/chapter.jsp?id=11&utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=ioscon2012"><img src="{{=url_for_static('http://topgeek.org/wp-content/uploads/2012/02/Guanzhou-GTUG.jpg')}}" alt="guangzhou gtug" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        广州GTUG是由来自珠三角地区的广大网络技术开发爱好者、创业者等人员自发组成的非盈利性质的技术交流组织，讨论基于Google技术的技术和产品，以及其他各类开源技术。并经常期举办线下活动和漂书等各种其他活动。
        </div>
    </div><!--END row-->
    
    <div class="row show-grid last">
        <div class="span-one-third"><a onClick="recordOutboundLink(this, 'SponsorLink');" target="_blank" href="http://groups.google.com/group/hangzhou-gtug?utm_source=topgeek&utm_medium=sponsor_link&utm_campaign=ioscon2012"><img src="{{=url_for_static('http://topgeek.org/wp-content/uploads/2012/02/hangzhou-GTUG-logo.jpg')}}" alt="hangzhou gtug" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
       杭州GTUG是由来自杭州及周边地区的广大互联网开发爱好者、创业者、支持开源代码和自由软件，以及各种新技术的开发者和爱好者组成的非盈利性的技术交流组织。该组织的目标是促进技术交流与共享及可能的创业和商业机会。 
        </div>
    </div><!--END row-->
{{end}}
