{{extend "bootstrap_layout.html"}}
{{block title}}<title>志愿者 - {{=settings.LAYOUT.TITLE}}</title>{{end}}
{{block meta}}
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/volunteer.css')}}" />
{{end}}

{{block content}}
<h1>志愿者</h1>
<h3>iOSCon大会的召开离不开志愿者们的共同努力，同时，如果您愿意加入志愿者的队伍，请与iOSCon组委会(邮件:stingchen@topgeek.org)联系。志愿者可以免除一部分参会费用，并且在大会官网的“志愿者”页面展示个人照片及简介。</h3><br />

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://bopor.com/"><img src="{{=url_for_static('images/volunteer/chenshixin.jpg')}}" alt="StingChen（陈世欣）" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>StingChen（陈世欣）</h4>
        <p>上海交大计算机系硕士 现为创业公司2Style4You.Com的CTO 个人博客 <a target="_blank" href="http://bopor.com/">bopor.com</a> 微博 <a target="_blank" href="http://weibo/stingchen">http://t.sina.com.cn/stingchen</a></p>
        <p>从2006年起参加和组织社区，曾组织过python聚会，参与组织过google技术社区GTUG，ThinkinLAMP社区，参加过30多次各类社区。并成功组织了上海最大的产品经理社区PMCamp(微博<a target="_blank" href="http://t.sina.com.cn/pmcamp">http://t.sina.com.cn/pmcamp</a>，博客 <a target="_blank" href="http://pmcamp.org">http://pmcamp.org</a>)</p>
        <p><strong>StingChen的博客地址：</strong><a target="_blank" href="http://bopor.com/">http://bopor.com/</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://lvguoning.com/"><img src="{{=url_for_static('images/volunteer/lvguoning.png')}}" alt="Daniel Lv（吕国宁）" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>Daniel Lv（吕国宁）</h4>
        <p>28岁的Ruby程序员，专职Ruby on Rails以及Web应用领域开发，出生于新疆乌鲁木齐，目前在上海工作。是shanghaionrails的组织者之一。好读书，喜研究算法，函数式语言等有趣的东西。 </p>
        <p><strong>Daniel Lv的博客地址：</strong><a target="_blank" href="http://lvguoning.com/">http://lvguoning.com/</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://www.kangye.org/"><img src="{{=url_for_static('images/volunteer/kangye.jpg')}}" alt="康爷（陆康）" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>康爷（陆康）</h4>
        <p>毕业于上海西南某高校，reader2twitter的开发者，写过Google App Engine教程，目前在Aldiko负责Android相关的工作。</p>
        <p>本次iOSCon大会网站的共同开发者。</p>
        <p><strong>康爷的博客地址：</strong><a target="_blank" href="http://www.kangye.org/">http://www.kangye.org/</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://lvguoning.com/"><img src="{{=url_for_static('images/volunteer/yangyitao.png')}}" alt="Yitao Yang（杨毅涛）" width="200" /></a><br />
	</div><!--END span-->
    <div class="span-two-thirds">
        <h4>Yitao Yang（杨毅涛）</h4>
        <p>其他请用这个名字google一下</p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://weibo.com/1899928281/profile"><img src="{{=url_for_static('images/volunteer/Edward.jpg')}}" alt="Edward Huang" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>Edward Huang</h4>
		<p>主持人</p><p>从事嵌入式产品技术开发工作十多年，现就职于一通信公司。</p><p>喜欢DIY，容易较真。</p>
		<p>微博：<a href="http://weibo.com/1899928281/profile">http://weibo.com/1899928281/profile</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://www.douban.com/people/renj/"><img src="{{=url_for_static('images/volunteer/renj.png')}}" alt="renj（郑人杰）" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>RenJ（郑人杰）</h4>
        <p>学生。帮助修改本次大会网站。</p>
        <p><strong>RenJ的豆瓣：</strong><a target="_blank" href="http://www.douban.com/people/renj/">http://www.douban.com/people/renj/</a></p>
    </div><!--END span-->
</div><!--END row-->

{{end}}
